<a href="https://colab.research.google.com/github/tec03/ParaAssignment01-/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad 1 de proyecto final: Selección del conjunto de datos

---

#### Equipo: 120
##### Alumno: César Iván Pedrero Martínez (A01366501)

## Parte 1: Datos a usar a lo largo del módulo de aprendizaje

- Página de origen: [Kaggle](https://www.kaggle.com/)
- Dataset: [Credit Card Approval Prediction](https://www.kaggle.com/datasets/rikdifos/credit-card-approval-prediction)
- Publicado por: [Seanny](https://www.kaggle.com/rikdifos)
- Licencia: CC0: Public Domain
- Tema: Detección de fraudes con tarjetas de crédito (problema económico)

In [100]:
# Import necessary libraries:
import os
import pandas as pd
import warnings
import webbrowser

In [101]:
# Define the constants:
DATASET_URL = "https://www.kaggle.com/datasets/rikdifos/credit-card-approval-prediction/download?datasetVersionNumber=3"
DATASET_PATH = "../data/Credit Card Approval Prediction/"

In [102]:
def showcaseDataset(filename: str) -> pd.DataFrame:
    """
    Simple showcasing function to avoid program crashes when the dataset 
    files are not found in the expected local route.
    """
    try:
        df = pd.read_csv(os.path.join(DATASET_PATH, filename))
        return df.head()
    except:
        print("File {} not found in the data path.".format(filename))
        warnings.warn("[FILE NOT FOUND] Opening the download URL fo the data. Please save the downloaded CSV files in the '{}' local folder.".format(DATASET_PATH))
        webbrowser.open(DATASET_URL)

In [103]:
print("Showcasing the main dataset to use through the module:")

showcaseDataset("application_record.csv")

Showcasing the main dataset to use through the module:

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [104]:
print("Showcasing the complementary dataset to use through the module:")

showcaseDataset("credit_record.csv")

Showcasing the complementary dataset to use through the module:

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

## Parte 2: Datos a usar a lo largo del módulo de aprendizaje

- **El nombre que caracteriza el conjunto de datos.**
    - `A Credit Card Dataset for Machine Learning`

<br>

- **La organización que lo generó.**
    - Datos generados por [XueangX (Xiong Xuetang)](https://www.xuetangx.com), una empresa china de MOOCs. Compartido a través de Kaggle por el alumno [Seanny](https://www.kaggle.com/rikdifos).

<br>

- **Incluya un enlace de Internet donde se puedan descargar en línea y enviar como una hoja de cálculo junto con su informe correspondiente.**
    - [Credit Card Approval Prediction](https://www.kaggle.com/datasets/rikdifos/credit-card-approval-prediction)
    - Este archivo también se puede encontrar localmente dentro de la carpeta `./data`.

<br>

- **Describe el conjunto de datos. ¿Qué datos contiene?**

    - El conjunto de datos es conformado por dos archivos: el archivo de aplicaciones de tarjetas de crédito y un archivo complementario que muestra el historial de incumplimiento crediticio de los clientes. Estos dos archivos pueden ser fácilmente relacionados con el ID del cliente.

        - **Archivo de aplicaciones de tarjetas de crédito (`application_record.csv`):**
        
        <br>

        | Columna 	| Descripción 	| Observaciones 	|
        |---	|---	|---	|
        | ID 	| Identificador del cliente 	| Valor numérico de 7 dígitos 	|
        | CODE_GENDER 	| Género 	| M = masculino, F = femenino 	|
        | FLAG_OWN_CAR 	| ¿Tiene carro propio? 	| Y = si, N = no 	|
        | FLAG_OWN_REALTY 	| ¿Tiene casa propia? 	| Y = si, N = no 	|
        | CNT_CHILDREN 	| Número de hijos 	| Número entero 	|
        | AMT_INCOME_TOTAL 	| Ingresos anuales 	| Cantidad en dólares 	|
        | NAME_INCOME_TYPE 	| Tipo de ingreso 	| Valores posibles: Working, Commercial associate, Pensioner, State servant, Student 	|
        | NAME_EDUCATION_TYPE 	| Nivel de educación 	| Valores posibles: Working, Commercial associate, Pensioner, State servant, Student 	|
        | NAME_FAMILY_STATUS 	| Status marital 	| Valores posibles: Civil marriage, Married, Single/not married, Separated, Widow 	|
        | NAME_HOUSING_TYPE 	| Tipo de vivienda 	| Valores posibles: Rented apartment, House/apartment, Municipal apartment, With parents, Co-op apartment, Office apartment 	|
        | DAYS_BIRTH 	| Cumpleaños 	| Cuenta hacia atrás desde el día actual (0), -1 significa ayer 	|
        | DAYS_EMPLOYED 	| Start date of employment 	| Contar hacia atrás desde el día actual (0). Si es positivo, significa la persona actualmente desempleada. 	|
        | FLAG_MOBIL 	| ¿Tiene número móvil? 	| Y = si, N = no 	|
        | FLAG_WORK_PHONE 	| ¿Tiene número de casa? 	| Y = si, N = no 	|
        | FLAG_PHONE 	| ¿Tiene teléfono móvil? 	| Y = si, N = no 	|
        | FLAG_EMAIL 	| ¿Tiene email? 	| Y = si, N = no 	|
        | OCCUPATION_TYPE 	| Tipo de ocupación 	| Descripción breve (puede tener valores nulos) 	|
        | CNT_FAM_MEMBERS 	| Tamaño total de la familia 	| Número entero 	|

        <br>
        
        - **Archivo complementario del historial de incumplimiento crediticio (`credi_record.csv`):**

        <br>

        | Columna 	| Descripción 	| Obsservaciones 	|
        |---	|---	|---	|
        | ID 	| Identificador del cliente 	| Valor numérico de 7 dígitos. Es el mismo campo que se encuentra en el archivo application_record.csv 	|
        | MONTHS_BALANCE 	| Mes inicial del trámite de la tarjeta 	| El mes de los datos extraídos es el punto de partida, al revés, 0 es el mes actual, -1 es el mes anterior, etc. 	|
        | STATUS 	| Status del incumplimiento crediticio 	| 0: 1-29 días de atraso 1: 30-59 días de atraso 2: 60-89 días de atraso 3: 90-119 días de atraso 4: 120-149 días de atraso 5: Deudas atrasadas o incobrables, canceladas por más de 150 días C: pagado ese mes X: No hay préstamo para el mes 	|
        
        <br>

<br>

- **¿Cuáles son algunas de las preguntas de investigación que podría responder con estos datos? Enumere al menos OCHO (no responda las preguntas).**
    1. ¿Cuál es la ocupación con mejores niveles de ingreso?
    2. ¿Un mayor número de hijos lleva a mas deudas?
    3. ¿Qué ocupaciones tienden a tener casa y auto propio?
    4. ¿Entre más días trabajando, mejor es la paga de la persona a la que se le aprobó la tarjeta de crédito?
    5. ¿El nivel de educación se relaciona con los adeudos de la persona?
    6. ¿El nivel de educación lleva a un mayor ingreso anual?
    7. ¿El tamaño de la familia conlleva a mas deudas?
    8. ¿Cuál es el rango de edad que tiende a tener menos deudas?
    9. ¿Cuál es el rango de edad que tiende a tener más deudas?

<br>

- **¿Qué actor (empresa, sector de la sociedad, organismo descentralizado, gobierno, etc.) estaría interesado en las preguntas mencionadas que identificó?**
    - Bancos
        - Ejemplos: Citi, Morgan Stanley
        - Justificación: Los bancos son lso principales actores al momento de aprobar una tarjeta de crédito, les beneficiaría un análisis predictivo de personas que han adquirido tarjetas de crédito previamente para evitar riesgos
    - Fintechs
        - Ejemplos: Nubank, Fondeadora
        - Justificación: Las empresas Fintech también pueden tramitar tarjetas de crédito. Al ser más pequeñas que un banco, se pueden proteger de manera más eficaz si eligen a que persona le dan uan tarjeta de crédito de manera más informada.
    - Empresas de retail
        - Ejemplos: Amazon, Mercado Libre
        - Justificación: Las empresas de retail que procesan datos bancarios para sus transacciones podrían evitar fraudes dentro de sus sistemas con una detección de transacciones fraudulentas automática basada en datos de dueños previos de tarjetas de crédito.

## Addendum: Aspectos a tener en cuenta

- ¿El conjunto de datos es adecuado para permitir la realización de modelos y análisis estadísticos?
    - Si, es un conjunto relacional usado en la competencia de Kaggle: [Home Credit Default Risk](https://www.kaggle.com/c/home-credit-default-risk), la cual consistió en un análisis estadístico de estos datos para generar una modelo de predicción de riesgo de incumplimiento crediticio.

<br>

- En cuanto a la cantidad de datos, ¿el conjunto de datos es del orden de miles de filas?
    - Si, el archivo de aplicaciones a tarjeta de crédito 483,559 filas (54 MB). El archivo complementario que contiene los detalles de el historial de incumplimiento crediticio de los clientes tiene 1048577 filas (15 MB).

<br>

- Es probable que a medida que avance en el tema, descubra que el conjunto de datos no es lo suficientemente detallado. En este caso, ¿podrá complementarlo con conjuntos de datos relacionados adicionales?
    - Si, existe un archivo complementario que contiene los detalles de el historial de incumplimiento crediticio de los clientes. Los datos de ese archivo pueden relacionarse con el archivo de aplicaciones a la tarjeta de crédito por medio del ID.

<br>

- ¿El conjunto de datos original que encontró está en formato de hoja de cálculo (XLS, XLSX, CSV)?
    - Si, el formato del archivo a usar y el complementario son CSV.